<div class="navbar-inner" data-ng-controller="HeaderController">
    <div class="container">
        <a class="btn btn-navbar collapsed" data-ng-click="isCollapsed = !isCollapsed">
        </a>
        <a class="brand" href="/#!/">EAN.IO</a>
            <ul class="nav navbar-nav dropdown-menu-right">
                <li><a href="/#!/">Home</a></li>
                <li><a href="/#!/docs">Get Started</a></li>
                <li><a href="/#!/docs">Documentation</a></li>
                <li><a href="/#!/support">Support</a></li>
                <li><a href="http://blog.mean.io">Blog</a></li>
            </ul>
    </div>
</div>
