body {
	background: #e9e9e9;
	font-family:'Open Sans', sans-serif;
}
header {
    font-weight: bold;
}
.navbar .brand {
font-family: 'Quantico', sans-serif;
padding-left:34px;
font-size:2em;
margin-top:5px;
width:116px;
height:39px;
float:left;
color:#fff;
position: absolute;
top:10;
background:url('/img/logos/meanlogo.png') bottom left no-repeat;
background-size:30%;
z-index:10;
}

.navbar-inner {
background-color:#1b1b1b;
background-image: linear-gradient(to bottom, #222222, #111111);
background-repeat: repeat-x;
border-color: #252525;
}

.navbar-inner .btn {
padding:0;
}
.navbar-nav{
float:right;
}
.navbar-nav a{
color:#fff;
}
.navbar-nav li a:hover, .navbar-nav li a:active{
text-decoration:underline;
color:#1b1b1b;
}
.content {
  /*  margin-top:40px; */
    width:100%
}
.green-text {
    color: #93DD3C;
}
a.green-text:hover {
    color: #9beb3f;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
footer {
    border: none;
    background: url('/img/backgrounds/footer-bg.png') center bottom repeat-x;
    height: 130px;
-webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px -3px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px -3px 5px 0px rgba(50, 50, 50, 0.75);
}
footer .container {
    height: 100%;
}
footer .footer-left-menu-container {
    height: 100%;
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
}
footer .footer-left-menu {
    margin: 20px 30px;
    padding: 0;
}
footer .footer-left-menu li:not(:last-child) {
    margin-bottom: 5px;
}
footer .footer-left-menu li a {
    color: #ddd;
}
footer .footer-left-menu li a:hover, footer .footer-left-menu li a:focus {
    color: #fff;
    text-decoration: none;
}
footer .footer-middle-container {
    height: 130px;
    line-height: 130px;
    float: left;
    width: 50%;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}
footer .footer-middle-ninja {
    width: 80px;
    vertical-align: middle;
}
footer .footer-middle-text {
    vertical-align: middle;
    font-weight: 200;
    color: #8fadba;
}
footer .footer-middle-text img {
}
footer .footer-middle-text a {
    color: #93DD3C;
}
footer .footer-middle-text a:hover {
    color: #9beb3f;
    cursor: pointer;
    text-decoration: none;
}
footer .footer-right-menu-container {
    height: 100%;
    float: right;
    width: 25%;
    margin: 0;
    text-align: center;
}
footer .footer-right-menu {
    margin-top: 30px;
}
footer .footer-right-menu li {
    display: inline-block;
}
footer .footer-right-menu li:not(:last-child) {
    margin-right: 5px;
}
footer .footer-right-menu-text {
    color: #8fadba;
    font-weight: 200;
    font-size: 0.9em;
}

.col-md-offset-2 {
z-index:-1;
margin-left:0;
border-left:1px solid blue;
background-color:white;
position:relative;
padding-bottom:40px;
}
#docs .container {
margin-top:50px;
}

#docs .inner-link-anchor{ display: block; position: relative; top: -60px; visibility: hidden; }
#docs h2, .nav-docs h3.first {
    margin-top:40px;
}
.sidebar{ width:320px; float:right;}
.sidebar .meandevelopment{margin-top:-395px;margin-bottom:9px;height:125px;}
.sidebar .meandevelopment a{
    background: url(../../img/ninja/mean-dev-button.png) no-repeat;
    display:block;
    width:339px;
    height:135px;
    color:white;
    font-size: 23px;
    text-align: center;
    padding-right:130px;
    padding-top:55px;
}
.gettingstarted{
width:700px;
margin-bottom:100px;
}
.block{
	margin-bottom:20px;
	background:white;
	box-shadow:5px 5px 0px darken($bgColor, 10%);
}
.block .block-title {
      background:#006384 url(../../img/backgrounds/block-title-bg.jpg) no-repeat top right;
      color:white;
      font-family: 'Bitter',serif;
      font-weight: 100;
      position:relative;
      font-size:17px;
      padding:15px;
      box-sizing: border-box;
      margin: 0px;
      line-height: 1;
}

#docs .nav-docs h3 a{
    color:rgb(51,51,51);

}

