<nav class="nav-docs" role="complementary">
	<h3>Community Support</h3>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#!/support/#facebook">Facebook</a></li>
			<li><a href="#!/support/#irc">IRC</a></li>
			<li><a href="#!/support/#github">GitHub</a></li>
		</ul>

	<h3>Commercial Support</h3>
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#!/support/#meandev">MEAN development</a></li>
			<li><a href="#!/support/#monthly">Monthly Support</a></li>
			<li><a href="#!/support/#hosting">Hosting</a></li>
		</ul>
</nav>
