<section id="docs" class="content">
	<section class="container">
		<div class="col-md-2">
			<div data-ng-include="'views/support/supportbar.html'"></div>
		</div>
		<section class="col-md-10 col-md-offset-2">
		<!-- how it works -->
		<div class="infograph">
			<img src="http://meanleanstartupmachine.com/img/success.jpg"></img>
		</div>
			<h2>Community Support</h2>
			<h3>Facebook</h3>	
			<p>We have a grpoup that hangs around in facebook discussing various mean oriented topics and just having direct non-formal communiction</p>
			Join us at the <a href="https://www.facebook.com/groups/mean.io/">mean.io facebook group</a>
			<div class="inner-link-anchor" id="facebook"></div>

			<h3>IRC</h3>
			<p>For core discussions and global trivia swing back to our IRC channel on freenode.net - #mean.io</p>
			<div class="inner-link-anchor" id="irc"></div>

			<h3>GitHub</h3>
			<p>For issues, bugs and pull-requests (bring it on!) open an issue in our <a href="http://github.com/linnovate/mean">github repository</a></p>
			<div class="inner-link-anchor" id="github"></div>

			
			<h2>Commercial Support</h2>
			<p>We at <a href="http://linnovate.net">Linnovate</a> have developed mean.io initially to scratch our own itch but now to help developers and organizations around the work - <strong>GET MEAN.</strong></p>
			We provide the following services..

			<h3>MEAN custom development</h3>
			<div class="inner-link-anchor" id="meandev"></div>
			<p>We provide end-to-end development for mean based projects, We've had excellent track record and because of mean's elegence and power we are able to complete the project on time and on budget.
			For more info visit - <a href="http://meanleanstartupmachine.com">THE MEAN-LEAN-STARTUP-MACHINE</a>
			</p>

			<h3>Coming Soon! - Support Subscription</h3>
			<div class="inner-link-anchor" id="monthly"></div>
			<p>We provide mail and private IRC support for your ongoing mean project.</p>

			<h3>Coming Soon! - MEAN Hosting</h3>
			<div class="inner-link-anchor" id="hosting"></div>
			<p>We provide affordable, secure and scalable web hosting of mean apps - coming soon!</p>
			
		</section><!-- end of cold-md-10 -->
	</section> <!-- end of container -->
</section> <!-- end of content -->

